@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Kosugi+Maru|M+PLUS+Rounded+1c|Noto+Sans+JP|Poppins|Sawarabi+Mincho&display=swap");
* {
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", 'Kosugi Maru', 'M PLUS Rounded 1c', "Noto Sans Japanese", sans-serif;
  font-weight: lighter;
}

html, body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: none;
}

.container.showing {
  display: -ms-grid;
  display: grid;
}

.container div.center {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: a;
}

.container#loader, .container#start, .container#end {
  -ms-grid-columns: 1fr auto 1fr;
      grid-template-columns: 1fr auto 1fr;
  -ms-grid-rows: 1fr auto 1fr;
      grid-template-rows: 1fr auto 1fr;
      grid-template-areas: ". . ." ". a ." ". . .";
}

.container#loader p, .container#start p, .container#end p {
  margin: 16px;
  font-size: 36px;
  text-align: center;
}

.container#loader p#progressMsg, .container#start p#progressMsg, .container#end p#progressMsg {
  font-size: 18px;
}

.container#loader p#progressMsg::before, .container#start p#progressMsg::before, .container#end p#progressMsg::before {
  content: "Resource Loaded: ";
}

.container#loader div#bar_cont, .container#start div#bar_cont, .container#end div#bar_cont {
  width: 400px;
  height: 36px;
  background-color: #eee;
  border-radius: 18px;
}

.container#loader div#bar_cont div#bar, .container#start div#bar_cont div#bar, .container#end div#bar_cont div#bar {
  width: 0%;
  height: 100%;
  background-color: #448aff;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}

.container#main {
      grid-template-areas: "type type" "eng  ph  " "eng  ja  " "key  key";
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 42px 1fr 300px;
      grid-template-rows: 42px 1fr 300px;
  gap: 8px;
  padding: 16px;
}

.container#main > *:not(.keyboard):not(.cont) {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto 1fr;
      grid-template-columns: 1fr auto 1fr;
  -ms-grid-rows: 1fr auto 1fr;
      grid-template-rows: 1fr auto 1fr;
      grid-template-areas: ". . ." ". a ." ". . .";
  position: relative;
  -webkit-box-shadow: inset 0px 0px 10px 0px #aaa;
          box-shadow: inset 0px 0px 10px 0px #aaa;
  border-radius: 20px;
  padding: 16px;
}

.container#main > * > * {
  font-size: inherit;
}

.container#main label {
  position: absolute;
  top: -8px;
  left: 24px;
  font-size: 22px;
  height: 22px;
  max-width: 90%;
  background-color: #fff;
  color: #448aff;
}

.container#main div.cont {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: type;
  font-size: 28px;
  position: relative;
}

.container#main div.cont .typed {
  margin: 0;
  display: inline;
}

.container#main div.cont .typed::before {
  content: "入力文字数：";
}

.container#main div.cont .time {
  display: inline-block;
  text-align: right;
  position: absolute;
  right: 8px;
  top: 0px;
  font-size: inherit;
}

.container#main div.cont .time span {
  font-size: inherit;
}

.container#main div.cont .time div.timeRemainingBar_container {
  display: inline-block;
  width: 400px;
  height: 36px;
  background-color: #eee;
  border-radius: 18px;
  margin: auto;
  border: #aaa solid 1px;
}

.container#main div.cont .time div.timeRemainingBar_container div#bar {
  width: 100%;
  height: 100%;
  border-radius: 18px;
}

.container#main .eng {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: eng;
  font-size: 5vw;
}

.container#main .eng span.typed_char {
  color: #aaa;
  font-size: inherit;
}

.container#main .eng span.next_char {
  font-size: inherit;
  color: #388e3c;
}

.container#main .eng span.remaining_char {
  font-size: inherit;
}

.container#main .pho {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: ph;
  font-size: 28px;
  white-space: pre-wrap;
}

.container#main .jap {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: ja;
  font-size: 24px;
  white-space: pre-wrap;
}

.container#main .keyboard {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: key;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "q q w w e e r r t t y y u u i i o o p p" ". a a s s d d f f g g h h j j k k l l ." ". . . z z x x c c v v b b n n m m . . .";
  gap: 12px;
  -ms-grid-columns: (calc((100% - (12px * 19))/20))[20];
      grid-template-columns: repeat(20, calc((100% - (12px * 19))/20));
  -ms-grid-rows: (calc((100% - 24px)/3))[3];
      grid-template-rows: repeat(3, calc((100% - 24px)/3));
  min-width: calc((80px * 10) + 10px);
}

.container#main .keyboard .key {
  font-size: 36px;
  -webkit-box-shadow: 0px 0px 10px 0px #aaa;
          box-shadow: 0px 0px 10px 0px #aaa;
  width: 80px;
  height: 80px;
  margin: auto;
  text-align: center;
  padding: 13px;
  border-radius: 50%;
}

.container#main .keyboard .key.pressing {
  -webkit-box-shadow: inset 0px 0px 10px 0px #aaa;
          box-shadow: inset 0px 0px 10px 0px #aaa;
  font-size: 32px;
  padding: 16px;
}

.container#main .keyboard .key.next {
  background-color: #faebd7;
}

.container#end .center p {
  font-size: 10vw;
}
/*# sourceMappingURL=style.css.map */