@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru|M+PLUS+Rounded+1c|Noto+Sans+JP|Poppins|Sawarabi+Mincho|Material+Icons&display=swap');

*{
	font-size: 16px;
	box-sizing: border-box;
	font-family: "Poppins", 'Kosugi Maru', 'M PLUS Rounded 1c', "Noto Sans Japanese", sans-serif;
	font-weight: lighter;
}
html, body{
	margin: 0;
	padding: 0;
}


.container{
	width: 100vw;
	height: 100vh;
	display: none;
	&.showing{ display: grid; }

	div.center{ grid-area: a; }

	&#loader, &#start, &#end{
		grid-template-columns: 1fr auto 1fr;
		grid-template-rows: 1fr auto 1fr;
		grid-template-areas: ". . ." ". a ." ". . .";
		p{
			margin: 16px;
			font-size: 36px;
			text-align: center;
			&#progressMsg{
				&::before{ content: "Resource Loaded: "; }
				font-size: 18px;
			}
		}
		div#bar_cont{
			width: 400px;
			height: 36px;
			background-color: #eee;
			border-radius: 18px;
			div#bar{
				width: 0%;
				height: 100%;
				background-color: #448aff;
				border-top-left-radius: 18px;
				border-bottom-left-radius: 18px;
			}
		}
		div#note{
			height: 300px;
			overflow-y: scroll;
			box-shadow: 0px 5px 8px 0px #aaa;
			margin: 10px;
			padding: 16px;
			border-radius: 5px;
			h3{
				font-size: 22px;
				text-align: center;
			}
			p{
				font-size: 16px;
			}
			div.material.chk{
				position: relative;
				display: block;
				min-height: 40px;
				width: 200px;
				margin: auto;
				input[type=checkbox]{
					position: absolute;
					top: 8px;
					left: 8px;
					width: 32px;
					height: 32px;
					margin: 0px;
					z-index: 1;
					opacity: 0;
					& + label{
						position: absolute;
						top: 10.5px;
						left: 8px;
						font-size: 18px;
						display: flex;
						align-items: center;
						transform: translateY(0px);
						color: #000;
						z-index: 0;
						&::before{
							// ----------  Material Icons ---------- //
							font-family: 'Material Icons';
							font-weight: normal;
							font-style: normal;
							font-size: 28px;
							// font-size: 18px;
							display: inline-block;
							line-height: 1;
							text-transform: none;
							letter-spacing: normal;
							word-wrap: normal;
							white-space: nowrap;
							direction: ltr;
							/* Support for all WebKit browsers. */
							-webkit-font-smoothing: antialiased;
							/* Support for Safari and Chrome. */
							text-rendering: optimizeLegibility;
							/* Support for Firefox. */
							-moz-osx-font-smoothing: grayscale;
							/* Support for IE. */
							font-feature-settings: 'liga';
							// ------------------------------------- //

							content: "check_box_outline_blank";
							transition: 500ms;
							// width: 18px;
							// height: 18px;
							// border-radius: 3px;
							// border: 1.5px #aaa solid;
							// // padding-left: 24px;
							// font-size: initial;
							margin-right: 5px;
							color: #aaa;
							// padding-left: 2px;
							// padding-top: 2px;
						}
					}
					&:checked + label::before{
						color: #1a73e8;
						// padding-left: 0px;
						content: "check_box";
					}
					&:disabled + label{
						color: #888;
						&::before{
							color: inherit;
						}

					}
				}
			}
		}
		#p2s{
			font-size: 24px;
		}
	}
	&#main{
		grid-template-areas:
			"type type"
			"eng  ph  "
			"eng  ja  "
			"key  key";
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 42px 1fr 1fr 250px;
		gap: 8px;
		padding: 16px;
		& > *:not(.keyboard):not(.cont){
			text-align: center;
			display: grid;
			grid-template-columns: 1fr auto 1fr;
			grid-template-rows: 1fr auto 1fr;
			grid-template-areas: ". . ." ". a ." ". . .";
			position: relative;
			box-shadow: inset 0px 0px 10px 0px #aaa;
			border-radius: 20px;
			padding: 16px;
		}
		& > * > *{
			font-size: inherit;
		}
		label{
			position: absolute;
			top: -8px;
			left: 24px;
			font-size: 22px;
			height: 22px;
			max-width: 90%;
			background-color: #fff;
			color: #448aff;
		}
		div.cont{
			grid-area: type;
			font-size: 28px;
			position: relative;
			.typed{
				margin: 0;
				display: inline;
				&::before{ content: "入力文字数："; }
			}
			.time{
				display: inline-block;
				text-align: right;
				position: absolute;
				right: 8px;
				top: 0px;
				font-size: inherit;
				span{ font-size: inherit; }
				div.timeRemainingBar_container{
					display: inline-block;
					width: 400px;
					height: 36px;
					background-color: #eee;
					border-radius: 18px;
					margin: auto;
					border: #aaa solid 1px;
					div#bar{
						width: 100%;
						height: 100%;
						border-radius: 18px;
					}
				}
			}
		}
		.eng{
			grid-area: eng;
			font-size: 5vw;
			span.typed_char{
				color: #aaa;
				font-size: inherit;
			}
			span.next_char{
				font-size: inherit;
				color: #388e3c;
			}
			span.remaining_char{
				font-size: inherit;
			}
		}
		.pho{
			grid-area: ph;
			font-size: 28px;
			white-space: pre-wrap;
		}
		.jap{
			grid-area: ja;
			font-size: 24px;
			white-space: pre-wrap;
		}
		.keyboard{
			grid-area: key;
			display: grid;
			grid-template-areas:
				"q q w w e e r r t t y y u u i i o o p p"
				". a a s s d d f f g g h h j j k k l l ."
				". . . z z x x c c v v b b n n m m . . .";
			gap: 12px;
			grid-template-columns: repeat(20, calc((100% - (12px * 19))/20));
			grid-template-rows: repeat(3, calc((100% - 24px)/3));
			min-width: calc((80px * 10) + 10px);
			.key{
				font-size: 36px;
				box-shadow: 0px 0px 10px 0px #aaa;
				width: 80px;
				height: 80px;
				margin: auto;
				text-align: center;
				padding: 13px;
				border-radius: 50%;
				&.pressing{
					box-shadow: inset 0px 0px 10px 0px #aaa;
					font-size: 32px;
					padding: 16px;
				}
				&.next{
					background-color: #faebd7;
				}
			}
		}
	}
	&#end .center p{
		font-size: 10vw;
	}
}