*{ font-size: 16px; box-sizing: border-box; }
html, body{
	margin: 0;
	padding: 0;
}

.container{
	width: 100vw;
	height: 100vh;
	display: none;
	&.showing{ display: grid; }

	&#loader{
		grid-template-columns: 1fr auto 1fr;
		grid-template-rows: 1fr auto 1fr;
		grid-template-areas: ". . ." ". a ." ". . .";
		div#center{
			grid-area: a;
			p{
				margin: 16px;
				font-size: 36px;
				text-align: center;
				&#progressMsg{
					&::before{ content: "Resource Loaded: "; }
					font-size: 18px;
				}
			}
			div#bar_cont{
				width: 400px;
				height: 36px;
				background-color: #eee;
				border-radius: 18px;
				div#bar{
					width: 0%;
					height: 100%;
					background-color: #448aff;
					border-top-left-radius: 18px;
					border-bottom-left-radius: 18px;
				}
			}
		}
	}
}